node {
        size: 20px, 20px;
        fill-mode: plain;
        fill-color: lightBlue;
        stroke-mode: plain;
        stroke-width: 2px;

 }

 graph {
     text-padding: 3px;
     text-background-mode: rounded-box;
     text-background-color: lightGreen;
}