node {
        size: 20px, 20px;
        fill-mode: plain;   /* Default.          */
        fill-color: lightBlue;    /* Default is black. */
        stroke-mode: plain; /* Default is none.  */
        stroke-width: 2px;
 }